/* RESET + FONT */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



/* HEADER */

header {
    background-color: white;
    padding: 20px;
}

header span {
    font-size: 40px;
    font-weight: 900;
}

.logo {
    vertical-align: middle;
}

.brand {
    vertical-align: middle;
}

/* MAIN */

body {
    background-color: #f6f8f9;
}

.container {
    width: 50%;
    margin: 50px auto;
    background-color: white;
}

/* BUTTON */

.btn {
    display: inline-block;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    width: 80px;
    padding: 5px 4px;
    font-size: 12px;
    font-weight: 900;
}

.btn-blue {
    border-color:#48aef1;
    background-color:#48aef1 ;
    color: white;
}

.btn-white {
    border-color:lightgrey;
    background-color:white ;
    color: lightgrey;
}

.buttons {
    text-align: left;
    padding: 10px 40px;
}

hr {
    border-style: solid;
    border-color: #f6f8f9;
    border-width: 1px;
}

/* UNORDERED LIST */

.ul-box {
    margin: 25px;
}

ul {
    list-style-type: none;
}

li {
    padding: 10px;
}
.bold {
    font-weight: 900;
    margin-left:12px;
}

.symbols {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

/* COLOR */

.green {
    color: green;
    border: 1px solid green;
}

.red {
    color: red;
    border: 1px solid red;
}

.categories {
    display: inline-block;
    font-size: 11px;
    color: white;
    padding: 5px 7px;
    margin: 5px;
    border-radius: 10px;
}

/* BACKGROUND COLOR */

.bg-blue {
    background-color:#48aef1;
}

.bg-violet {
    background-color:#9d73e4;
}

.bg-green {
    background-color:#68c2ac;
}

.bg-orange {
    background-color:#f29e33;
}

.bg-pink {
    background-color:#d764a2;
}

.bg-lime {
    background-color:#b1c925;
}

/* BEFORE SELECTOR */

span::before {
    content: "\2713  ";
  }


