/* RESET + FONT */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



/* HEADER */

header span {
    font-size: 40px;
    font-weight: 900;
}

header div {
    margin: 20px;
}

.logo {
    vertical-align: middle;
}

.brand {
    vertical-align: middle;
}

/* MAIN */

main {
    background-color: #f6f8f9;
    /* margin: 40px;; */
}

.container {
    width: 50%;
    margin: 50px 300px;
    background-color: white;
}

/* BUTTON */

.btn {
    display: inline-block;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    width: 80px;
    padding: 5px 3px;
    font-size: 12px;
}

.btn-blue {
    border-color:#48aef1;
    background-color:#48aef1 ;
    color: white;
}

.btn-white {
    border-color:lightgrey;
    background-color:white ;
    color: lightgrey;
}

.buttons {
    text-align: left;
    padding: 10px 60px;

}

hr {
    border-style: solid;
    border-color: #f6f8f9;
    border-width: 1px;
}

/* UNORDERED LIST */

ul {
    list-style-type: none;
}

li {
    padding: 10px;
}
.bold {
    font-weight: 900;
}

.symbols {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

.green {
    color: green;
    border: 1px solid green;
}

.red {
    color: red;
    border: 1px solid red;
}